/* Navbar links */
/*a {
    float: left;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  a:hover {
    background-color: #000;
  }
  
  .project {
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #292b2c;
    border-width: 5px;
    border-radius: 10px;
    padding: 10px
  }

  h3 {
    font-family: sans-serif;
    color:white
  }

  .subtitle{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* Current/active navbar link */
  /*.active {
    background-color: #4CAF50;
  }